.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./login-background.png");
    background-size: cover;

}

.login-form-wrapper {
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    flex-grow: 1;
    max-width: 350px;
    display: flex;
    background-color: white;
    opacity: 0.85;
}

form {
    flex-grow: 1;
}

input {
    box-sizing: border-box;
    margin: 8px 0;
    width: 100%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

#login-button {
    width: 100px;
    font-size: 16px;
    line-height: 1;
    background-color: white;
}

#login-button:hover {
    cursor: pointer;
}